table {
    border-width: 2px;
    border-style: solid;
    border-color: #c2d3e5;
    border-collapse: collapse;
}

table tr:nth-child(even) {
    background-color: #fefefe;
}

th {
	border-width: 1px;
    border-color: #c2d3e5;
    padding: 8px;
    border-style: solid;
    text-align: left;
    background-color: #fefefe;
}

td {
	border-width: 1px;
    border-color: #c2d3e5;
    border-style: solid;
    text-align: left;
}