.logo_middle {
	width: 60%;
	height: 50%;
	float: left;
	padding-left: 19%;
	text-align: center;
}
.header {
	width: 100%;
	height: 180px;
	min-width: 1000px;
	overflow: hidden;
	float: left;
	border-bottom: 3px solid black;
}
.logo_middle img {
	align-content: center;
	width: 180px;
	height: 135px;
}
.logo_middle #logo_text{
	font-size: 30px;
	font-weight:bold ;
	width:660px;
	height:150px;

}

.loginpart {
	width: 400px;
	height: 100%;
	margin: auto;
	text-align: center;
	padding-top: 50px;
}

.login_input {
	width: 400px;
	float: left;
	margin-top: 30px;
}

.login_input input{
	width: 250px;
	height: 30px;
	border: 1px solid lightgrey;
}

.login_submit {
	width: 100%;
	float: left;
	margin-top: 30px;
}

.login_submit input {
	width: 80px;
	height: 25px;
	border-radius: 5px;
	border: 1px solid black;
}