.mytitle {
	width: 98%;
	height: 85px;
	float: left;
	margin-left: 1%;
}

.mytitle span{
	display: block;
	margin-top: 30px;
	font-size: 30px;
}

.myprofile {
	width: 98%;
	float: left;
	margin-left: 2%;
}

.profile_form {
	width: 45%;
	height: 600px;
	border-right: 3px solid lightskyblue;
	float: left;
}

.profile_input {
	width: 95%;
	height: 50px;
	margin-top: 8px;
	float: left;
	mid-width: 440px;
}

.profile_input span {
	width: 40%;
	display:block;
	float: left;
	padding-top: 5px;
}

.profile_input input {
	width: 55%;
	float: left;
	height: 30px;
}

.profile_input .sex {
	padding-top: 10px;
	width: 25%;
	float: left;
}

.profile_input .sex input {
	width: 30%;
	float: left;
	height: 20px;
}

.profile_submit {
	width: 90%;
	height: 50px;
	margin-top: 10px;
	float: left;
}

.profile_submit input{
	width: 100px;
	height: 30px;
	float: right;
	border-radius: 5px;
	border: 1px solid lightskyblue;
	text-align: center;
	color: white;
	background: lightskyblue;
	border-radius: 5px;
	cursor: pointer;
}

.other_profile {
	width: 50%;
	float: left;
	padding-left: 2%;
}

.ty_traval {
	width: 96%;
	float: left;
}

.ty_traval span{
	width: 98%;
	display: block;
	height: 30px;
	font-size: 22px;
}

.type {
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-right: 20px;
}

.dream {
	width: 96%;
	float: left;
}

.dream span{
	width: 98%;
	display: block;
	height: 30px;
	font-size: 22px;
}

.destination_add {
	width: 98%;
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-right: 20px;
}

.picture {
	width: 96%;
	float: left;
}

.dream_input {
	width: 70%;
	margin-left: 10px;
	height: 20px;
	float: left;
}

.dream_input input {
	width: 80%;
	height: 100%;

}

.dream_submit {
	margin-left: 2%;
	width: 60px;
	height: 20px;
	float: left;
}

.dream_submit input {
	width: 60px;
	height: 25px;
	border-radius: 5px;
	border: 1px solid lightskyblue;
	text-align: center;
	color: white;
	background: lightskyblue;
}

.show_add {
	width: 80%;
	margin-left: 2%;
	float: left;
}

.show_add img {
	margin-top: 18px;
	width: 35px;
	height: 15px;
	float: left;
}

.show_add p {
	width: 80px;
	height: 15px;
	margin-left: 15px;
	float: left;
	display: block;
}

.picture {
	width: 96%;
	float: left;
}

.picture span{
	width: 98%;
	display: block;
	height: 30px;
	font-size: 22px;
}

.picture img {
	margin-top: 10px;
	margin-left: 15px;
	width: 160px;
	height: 160px;
	float: left;
	cursor: pointer;
}

.picture p {
	width: 98%;
	height: 15px;
	margin-left: 15px;
	float: left;
	display: block;
}

.editPassword button {
	width: 200px;
	height: 30px;
	float: left;
	border-radius: 5px;
	border: 1px solid lightskyblue;
	text-align: center;
	color: white;
	background: lightskyblue;
	border-radius: 5px;
	cursor: pointer;
}
.promt {
	color:red;
	font-size:12px;
	font-weight:bold;
}