.mainsearch {
	width: 84%;
	min-width: 700px;
	height: 100%;
    float: right;
}

.search {
	width: 98%;
	padding-left: 1%;
	min-width: 700px;
}

.recommend_house {
	width: 98%;
	height: 58%;
	padding-left: 1%;
	float: left;
	min-width: 700px;
	overflow-y:scroll;
    overflow-x:hidden;
    margin-top: 10px;
}

.recommandation {
	width: 98%;
	height: 250px;
	margin-left: 1%;
	
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px solid lightgrey;
	border-bottom: 2px solid lightgrey;
	float: left;
}

.re_house_img {
	width: 40%;
	height: 100%;
	text-align: center;
	float: left;
}

.re_house_img img{
	margin-top: 3%;
	width: 90%;
	height: 90%;
}

.re_house_detail {
	width: 40%;
	height: 100%;
	float: left;
	padding-left: 30px;
}

.re_house_title {
	width: 90%;
	height: 30px;
	float: left;
	padding-top: 10px;
	color: black;
	font-size: 22px;
}

.re_house_loc {
	width: 90%;
	height: 30px;
	float: left;
	padding-top: 30px;
	color: black;
}

.re_house_bed {
	width: 90%;
	height: 30px;
	float: left;
	padding-top: 10px;
	color: black;
}

.re_house_comment {
	width: 90%;
	height: 30px;
	float: left;
	padding-top: 10px;
	color: red;
}

.re_house_link {
	width: 15%;
	height: 100%;
	float: left;	
}

.re_house_link button {
	height: 25px;
	margin-top: 100px;
	border-radius: 5px;
	border: 1px solid lightskyblue;
	text-align: center;
	color: white;
	background: lightskyblue;
	border-radius: 5px;
	cursor: pointer;
}

.search_input_1 {
	width: 98%;
	padding-top: 1%;
	padding-left: 1%;
	float: left;
}

.search_input_2 {
	width: 98%;
	padding-top: 1%;
	padding-left: 1%;
	float: left;
}

.search_input_3 {
	width: 98%;
	padding-top: 1%;
	padding-left: 1%;
	float: left;
}

.search_input_4 {
	width: 98%;
	padding-top: 1%;
	padding-left: 1%;
	float: left;
}

.search_input_city {
	width: 23%;
	float: left;
}

.search_input_city span {
	height: 15px;
}

.search_input_date {
	width: 18%;
	float: left;
}

.search_input_date span {
	height: 15px;
}

.search_input_date input {
	width:80%;
}

.search_input_number {
	width: 20%;
	float: left;
}

.search_input_number span {
	width: 100%;
	height: 15px;
}

.search_input_number select {
	width:80%;
}

.search_input_style {
	height: 30px;
	padding-top: 10px;
}

.tit {
	width: 98%;
	float: left;
}

.choose_1 {
	width: 98%;
	float: left;
}

.input_style {
	width: 15%;
	margin-left: 15px;
	float: left;
}

.choose_2 {
	width: 98%;
	float: left;
}

.input_feature {
	width: 15%;
	margin-left: 15px;
	float: left;
}

.search_submit {
	padding-right: 30px;
	float:right;
}
.search_submit input{
	height: 25px;
	border-radius: 5px;
	border: 1px solid skyblue;
	text-align: center;
	color: white;
	background: lightskyblue;
	border-radius: 5px;
	cursor: pointer;
}
